<%- include layouts/header.ejs %>
    <%- include main.ejs %>
    <li class="li-nav"><a href="/upload">UPLOAD FILE ĐIỂM</a></li>
    <li class="li-nav"><a href="/delete">XÓA FILE ĐIỂM</a></li>
    </ul>
    <br/>

    <% if (!success) { %>
    <div style="margin-left: 200px">
        <form id="form1" method="post" enctype="multipart/form-data">
            <label class="newLabel">Mã môn học</label>
            <select name="courseId" class="inputupload">
                <%for(var i = 0; i < courses.length; i++) {%>
                <option value="<%=courses[i].courseId%>"><%=courses[i].courseId%></option>
                <%}%>
            </select>
            <br/>

            <label class="newLabel">STT Lớp môn học</label>
            <select name="STT" class="inputupload" style="width: 100px;">
                <% for (var i = 1; i <= 10; i++) { %>
                <option value="<%=i%>"><%=i%></option>
                <% } %>
            </select>
            <br/>

            <label class="newLabel">Năm học</label>
            <select name="years" class="inputupload">
                <% for (var i = 0; i < years.length; i++) { %>
                    <option value="<%=years[i].id%>"><%=years[i].name%></option>
                <% } %>
            </select>
            <br/>

            <label class="newLabel">Học kỳ</label>
            <select name="semester" class="inputupload" style="width: 150px">
                <% for(var i = 0; i < semester.length; i++) { %>
                    <option value="<%=semester[i].id%>"><%=semester[i].name%></option>
                <% } %>
            </select>
            <br/>

            <label class="newLabel">Tệp điểm</label>
            <input type="file" name="fileUpload" class="inputupload" style="width: 500px; padding-left: 0px;">
            <br/>

            <label class="newLabel">&nbsp;</label>
            <input type="button" value="Upload" onclick="submit()" class="searchButton"/>
        </form>
    </div>
    <% } else { %>
        <h2 style="margin-left: 100px;">Đã Upload file điểm</h2>
    <% } %>

    <script type="text/javascript" src="/javascripts/index.js"></script>
    </body>

<%- include layouts/footer.ejs %>